<a href="https://colab.research.google.com/github/fiue/jett/blob/main/Lession2_j.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

파이썬 2장
   변수와 input()함수

In [2]:
num1 = 100;
num2 = 200;
result1 = num1 + num2;
result2 = num1 - num2;
result3 = num1 / num2;
result4 = num1 * num2;

print(num1, "+", num2, "=", result1);
print(num1, "-", num2, "=", result2);
print(num1, "/", num2, "=", result3);
print(num1, "*", num2, "=", result4);

100 + 200 = 300
100 - 200 = -100
100 / 200 = 0.5
100 * 200 = 20000

input()함수 예제

In [ ]:
num1 = int(input("첫번재 숫자를 입력 ==>"));
num2 = int(input("두번재 숫자를 입력 ==>"));
result1 = num1 +  num2;
result2 = num1 - num2;
result3 = num1 / num2;
result4 = num1 * num2;

print(num1, "+",num2, "=", result1);
print(num1, "-", num2, "=", result2);
print(num1, "/", num2, "=", result3);
print(num1, "*", num2, "=", result4);

In [ ]:
첫번재 숫자를 입력 ==>100
두번재 숫자를 입력 ==>200
 100 + 200 = 300 
 100 - 200 = -100
 100 / 200 = 0.5
 100 * 200 = 20000

In [ ]:
print("** 논술형 문제 - input() 함수를 이용한 간단한 계산기");
num1 = float(input("첫번째 숫자를 입력"));
num2 = float(input("두번째 숫자를 입력"));
print(num1,"+",num2, "=" ,num1+num2)

In [ ]:
name = input("이름 ==> ")
phoneNumber = input("전화번호 ==> ")

print(f"제 이름은 {최예나}이고, 연락처는 {phoneNumber}입니다.")

In [ ]:
이름 ==> 최예나
전화번호 ==> 0101234-1234
제이름은 최예나고 연락처는 01012341234 입니닷

In [ ]:
print("## 택배를 보내기 위한 정보를 입력하세요. ##")
human = input("받는 사람 : ");
home = input("주소 : "));
g = int(input("무게 : "));
print("**받는사람 ==> " , human);
print("**주소 ==> " ,home);
print("배송비 :", g * 5, "원");

In [ ]:
## 택배를 보내고 위한 정보를 입력하세요 ##");
받는사람 : 최예나
주소 : 서울특별시 강남구 삼성동
무게 : 1000
** 받는사람 ==> 최예나
** 주소 ==> 서울특별시 강남구 삼성동
배송비 : 무료

In [ ]:
num1 = int(input("숫자1 ==>"));
num2 = int(input("숫자2 ==>"));

print(num1, "+", num2, "=", num1+num2);
print(num1, "-", num2, "=", num1-num2);
print(num1, "*", num2, "=", num1*num2);
print(num1, "/", num2, "=", num1/num2);
print(num1, "%", num2, "=", num1%num2);
print(num1, "**", num2, "=", num1**num2);

In [ ]:
숫자1 ==> 4
숫자2 ==> 2
4 + 2 = 6
4 - 2 = 2
4 / 2 = 8
4 * 2 = 2
4 % 2 = 2
4 ** 2 = 64

In [ ]:
import ColabTurtle, Turtle as turtle


turtle.initializeTurtle()

for i in range(5) :
  turtle.forward(200)
  turtle.left(145)